APP_NAME=JD_USER_SERVICE
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# DATABASE
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

# JWT
JWT_SECRET=
JWT_ALGO=HS256

# Desarrollo: 1 día de acceso, 14 días de refresh
JWT_TTL=1440
JWT_REFRESH_TTL=20160
JWT_REFRESH_IAT=false

# Blacklist activa para que logout invalide el token
JWT_BLACKLIST_ENABLED=true
JWT_BLACKLIST_GRACE_PERIOD=10
JWT_SHOW_BLACKLIST_EXCEPTION=false

JWT_LEEWAY=0